<style>
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f9fa; 
  }

  .change-password {
    width: 500px; 
    margin: auto; 
  }

</style>

<body>
  <div class="change-password">
    <div class="container p-5 border rounded shadow-lg  bg-light">
      <form id="otpForm" [formGroup]="changePasswordFormGroup" (ngSubmit)="changePasswordProcess(changePasswordFormGroup.value)">
        <div class="text-uppercase d-flex justify-content-center pt-1">
          <h5 class="text"><b>Change Password</b></h5>
        </div>
        <div class="mb-3">
          <label for="newPassword" class="form-label">New Password:</label>
          <span class="required text-danger">*</span>
          <div class="input-group">
            <input [maxLength]="20" type="{{ hidePassword ? 'password' : 'text' }}" class="form-control" id="newPassword" formControlName="newPassword">
            <button class="btn btn-outline-success" type="button" (click)="togglePasswordVisibility()">
              <i class="{{ hidePassword ? 'bi bi-eye' : 'bi bi-eye-slash' }}"></i>
            </button>
          </div>
          <div class="alert alert-danger mt-3" role="alert" *ngIf="changePasswordFormGroup.get('newPassword').hasError('minlength')">
            Password must be at least 6 characters long.
          </div>
        </div>
        <div *ngIf="showSubmitMessage && errorMessage" class="error-message alert alert-danger">
          {{ errorMessage }}
        </div>
        <div *ngIf="successMessage" class="alert alert-success">
          {{ successMessage }}
        </div>
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </form>
    </div>
  </div>
</body>